# Common for all services
JWT_SIGNING_KEY=Simple_jwt_Secretkey(You can generate it using Python)
INTERNAL_SERVICE_TOKEN=super-secret-internal-token

DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost
CSRF_TRUSTED_ORIGINS=http://localhost:8001,http://127.0.0.1:8001,http://192.168.56.10:8001

# Auth-service
AUTH_SERVICE_DB_URL=postgres://<username>:<password>@<host>:<port>/<database_name>
AUTH_SERVICE_DB_NAME=database_name
AUTH_SERVICE_DB_USER=username
AUTH_SERVICE_DB_PASS=password

# Company-service
COMPANY_SERVICE_DB_URL=postgres://<username>:<password>@<host>:<port>/<database_name>
COMPANY_SERVICE_DB_NAME=database_name
COMPANY_SERVICE_DB_USER=username
COMPANY_SERVICE_DB_PASS=password

# Seeker-service
SEEKER_SERVICE_DB_URL=postgres://<username>:<password>@<host>:<port>/<database_name>
SEEKER_SERVICE_DB_NAME=database_name
SEEKER_SERVICE_DB_USER=username
SEEKER_SERVICE_DB_PASS=password

# Chat-service
CHAT_SERVICE_DB_URL=postgres://<username>:<password>@<host>:<port>/<database_name>
CHAT_SERVICE_DB_NAME=database_name
CHAT_SERVICE_DB_USER=username
CHAT_SERVICE_DB_PASS=password